/* General Styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

#external-form-wrapper {
    max-width: 75%;
    margin: 40px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.column-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.row-container {
    display: flex;
    gap: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    box-sizing: border-box;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input:focus, select:focus {
    border-color: #1c4441;
    outline: none;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #1c4441;
    color: #fff;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #14534b;
}

.form-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.form-footer div {
    width: 50%;
}

/* Table Styling */
table {
    display: block;
    width: 100%;
    overflow-x: auto;
    border-collapse: collapse;
    margin-top: 20px;
    border-radius: 10px;
}

caption {
    caption-side: top;
    text-align: left;
    font-size: 1.2em;
    font-weight: bold;
    padding-bottom: 10px;
    color: #1c4441;
}

th, td {
    padding: 15px;
    text-align: left;
}

thead th {
    background-color: #1c4441;
    color: #fff;
}

tbody td {
    background-color: #f9f9f9;
}

tbody tr:nth-child(odd) td {
    background-color: #f0f0f0;
}

thead th, tbody td {
    border-bottom: 2px solid #ccc;
}